.content{
    width: auto;
}
.logoimg{
    margin: 20px 0px 20px 0px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.group2 {
    flex: 1;
    height: 210px;
    background: #EFEFEF;
    margin: 0 10%;
  }
img{
    object-fit: contain;
}
.name{
    padding-top: 60px;
    text-align: center;
    margin-bottom: 20px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
}
.info{
    margin-top: 10px;
    text-align: center;
    text-wrap: balance;
    margin: 0 10%;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
}
@media (max-width: 1100px) {
    .info {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; 
      margin: 0 10%;
      text-wrap: balance;
    }
    .group2{
        height: 300px;
    }
  }

.group{
    display: flex;
    margin: 0 10%;
    justify-content: space-between;
    flex-direction: row;
}
.box{
    flex: 1;
}
.imgfloat{
    float: left;
}

.textmain{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

}
.textellipsis {
    
  }
  
@media screen and (max-width: 1100px) {
    .textellipsis {
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .textmain {
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
  }

  